@import '../../../scss/global';

.landing {
  width: 100%;
  height: 600px;
  padding: 1rem;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
  position: relative;
  background: linear-gradient(284.78deg, #85AFB2 22.21%, #ABE0E3 76.81%);
  @include small {
    border-radius: 10px;
  }
  @include medium {
    height: auto;
    padding: 2rem 2rem;
  }
  &__img {
    display: none;
    
    @include small {
      display: block;
      position: absolute;
      width: 50%;
      z-index: 0;
      right: -2rem;
      bottom: -2rem;
      
    }
  }
  h2 {
    @include font-size(48px, 64px, 76px, 88px);
    font-weight: bold;
    color: #fff;
    
  }
  p {
    line-height: 1.3;
    max-width: 75%;
    color: #fff;
    padding: 1rem 0;
  }
  &__img {
    @include large {
      width: 432px;
    }
  }
  &__buttons {
    button:first-child {
      margin-right: 1rem;
    }
  }
}

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    max-width: 400px;
    z-index: 1;
    @include medium {
      max-width: 800px;
      height: 400px;
    }
  }