@import '../../../scss/global';

.simplifyUrl {
  background: rgba(77, 156, 161, 0.13) url('../../../assets/img/earth-logo.png') no-repeat;
  background-position: left bottom;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 100%;
  @include small {
    height: 500px;
  }
  @include medium {
    height: 400px;
  }
  @include large {
    height: 300px;
  }
  &__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include small {
      flex-direction: row;
      justify-content: center;
    }
    input {
      border: none;
      width: 100%;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      margin-bottom:1rem;
      @include small {
        margin-bottom:0;
        width: 300px;
        margin-right: 1rem;
      }
      @include large {
        width: 400px;
      }
    }
  }

  &__text {
    text-align: center;
    p:last-child {
      color: $green;
      font-weight: bold;
    }
  }

}

.container {
  width: 100%;
  height: calc(50% - 1rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include medium {
    height: 75%;
  }
  @include large {
    height: 100%;
  }
}