@import '../../../scss//global';

.carouselWrapper {
  @include medium {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
 
}

.rec {
  .rec-item-wrapper {
    padding: 1rem 0 !important;
  }
  .rec-arrow {
    background: none;
    box-shadow: none;
    &:hover {
      background: initial;
    }
  }
  .rec-dot {
    box-shadow: none;
    background: rgba(49, 29, 117, 0.29);
  }
  .rec-dot_active {
    background: #311D75
  }
}
