@import '../../scss/global';
.App {
  width: 100%;
  position: relative;
  overflow: hidden;
  h1,
  h2,
  h3 {
    font-family: 'SF UI Display Heavy';
  }

  p,
  span,
  li,
  a,
  h5,
  h6,
  button,
  label {
    font-family: 'SF UI Display Medium';
  }

  h2 {
    letter-spacing: -0.06em;
    font-size: $h2;
    color: $dark-green;
    font-weight: bold;
    @include font-size($h2-small, $h2-medium, $h2-large, $h2-xlarge)
  }

  main {
    margin-top: 60px;
  }

}
