@import '../../../scss/global';

.cta {
  background: $green-gradient;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 128px;
  height: 40px;
  cursor: pointer;
}  
.white{
    background: #fff;
    color: $green; 
  }
.light {
  background: none;
  border: solid #fff 1px;
}