@import '../../../scss/global';

.cta {
  background: $green;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 123px;
  height: 34px;
  cursor: pointer;
}  
.light {
    background: #fff;
    border: solid 1px $green;
    color: $green; 
  }