@import '../../../scss//global';

.carouselContainer {
  width: 100%;
  padding: 2rem 0;
  @include medium {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    text-align: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  &__toggleBtn {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
}

