@import '../../scss//global';

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 5;
  @include small {
    padding: 1rem 2rem;
  }
  .wrapper {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    &>* {
      flex: 1;
    }
  }
  
  &__logo {
    color: $green;
    font-weight: 900;
  }
.connexion {
  display: flex;
  justify-content: flex-end;
}
}