@import '../../scss/global';

.footer {

  background: $light-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  width: 100%;

  &__title {
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  &__brands {
    ul {
      display: flex;

      li {
        margin-right: 1rem;
      }
    }
  }
  section {
    margin: 0.5rem 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
  @include small {
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 4rem;
  }
}