// colors
$green: #9AC9CD; // main-color (green)
$green-gradient: linear-gradient(115.87deg, #ABE0E4 33.67%, #86B0B3 127.21%);
$light-grey: #F8F9FA; // background

// font-sizes

// h2
$h2: 36px;
$h2-small: 42px;
$h2-medium: 48px;
$h2-large: 54px;
$h2-xlarge: 62px;

