@import '../../scss/global';

.nav {
  width: 100%;
  height: 100vh;
  background: #fff;
  position: absolute;
  top:0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: .2s;
  z-index: 10;

  @include small{
    background: none;
    height: 100%;
    padding: 1rem;
    transform: translateX(0);
    width: 75%;
    position:unset;
    flex-direction: row;
    justify-items: flex-end;
  }



  &__list {
    height: 30%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include small{
      flex-direction: row;
      width: 70%;
      height:100%;
    } 
    @include medium {
      width: 60%;
    }
    @include large {
      width: 50%;
    }
    @include xlarge {
      width: 40%;
    }

    .itemActive {
      text-decoration: none;
      color: $green;
    }
  }

}

.active {
  transform: translateX(0);
  transition: .2s;
}
