@import '../../../scss/global';

.landing {
  height: 90vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include medium {
    flex-direction: row;
    height: auto;
  }
    h2 {
      font-size: 36px;
      font-weight: bold;
      color: $green;
      
    }
   
    &__buttons {
      button:first-child {
        margin-right: 1rem;
      }
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    max-width: 400px;
   
    @include medium {
      max-width: 500px;
      height: 300px;
    }
  }